<tr th:fragment="password_reset_success">
  <td align="center" valign="top" class="templateBody noBorderBottom">
    <h1>Your password has been updated</h1>

    <p>Your password has been updated.</p>

    <p>If you have not requested a password change or you believe you are receiving this email by mistake, please contact hello@dinbog.com for assistance.</p>

    <p>dinbog team</p>
  </td>
</tr>
