<table th:fragment="password_reset">
    <tr>
      <td align="center" valign="top" class="templateBody">
        <h1 th:text="${'Reset your password'}"></h1>

        <p th:text="${'You have requested to change your password. To complete this request, you must click the “change password” button.'}"></p>
      </td>
    </tr>
    <tr>
      <td align="center" valign="top" class="templateBody">
        <p class="textCenter">
          <a th:href="@{${url}}" target="_blank" class="templateButton" th:text="${'CHANGE PASSWORD'}"></a>
        </p>
      </td>
    </tr>
    <tr>
      <td align="center" valign="top" class="templateBody noBorderBottom">
        <p th:text="${'If you have any issues with the button you can copy and paste the link to the address bar of your browser.'}">
          <span class="url" th:text="${url}"></span>
        </p>
        <p>
          If you have not made this request or do not want to change your password do not click the previous link.
        </p>
      </td>
    </tr>
</table>
