/* /\/\/\/\/\/\/\/\/ CLIENT-SPECIFIC STYLES /\/\/\/\/\/\/\/\/ */
#outlook a {
    padding: 0;
}
/* Force Outlook to provide a "view in browser" message */
.ReadMsgBody {
    width: 100%;
}
.ExternalClass {
    width: 100%;
}
/* Force Hotmail to display emails at full width */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
    line-height: 100%;
}
/* Force Hotmail to display normal line spacing */
body,
table,
td,
p,
a,
li,
blockquote {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
/* Prevent WebKit and Windows mobile changing default text sizes */
table,
td {
    mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;
}
/* Remove spacing between tables in Outlook 2007 and up */
img {
    -ms-interpolation-mode: bicubic;
}
/* Allow smoother rendering of resized image in Internet Explorer */

/* /\/\/\/\/\/\/\/\/ RESET STYLES /\/\/\/\/\/\/\/\/ */
body {
    margin: 0;
    padding: 0;
}
img {
    border: 0;
    height: auto;
    line-height: 100%;
    outline: none;
    text-decoration: none;
}
table {
    border-collapse: collapse !important;
}
body,
#bodyTable,
#bodyCell {
    height: 100% !important;
    width: 100% !important;
    margin: 0;
    padding: 0;
}

/* /\/\/\/\/\/\/\/\/ TEMPLATE STYLES /\/\/\/\/\/\/\/\/ */
/* ========== Page Styles ========== */
body, #bodyTable {
    background-color: #EBEEF0;
    font-family: helvetica, sans-serif;
}

#bodyCell {
    border-top: 4px solid #BBBBBB;
    padding: 20px;
}

.templateContainer {
    width: 600px;
    background-color:white;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;
}

h1, h2, h3, h4 {
    display: block;
    font-style: normal;
    font-weight: bold;
    line-height: 100%;
    letter-spacing: normal;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    text-align: center;
    padding: 10px;
    color: #000 !important;
}

h1 {
    font-size: 26px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 16px;
}
h4 {
    font-size: 14px;
}

/* ========== Header Styles ========== */
#templateHeader {
    background-color: #fff;
    text-align: center;
    padding: 0;
}

#templateHeader img{
    width:100%;
}

#templateHeader a,
    /* Yahoo! Mail Override */
#templateHeader a .yshortcuts
    /* Yahoo! Mail Override */
{
    color: #505050;
    font-weight: normal;
}

/* ========== Body Styles ========== */
.templateBody {
    background-color: #FFFFFF;
    border-bottom:1px solid #ccc;
    color: #505050;
    font-family: helvetica, sans-serif;
    font-size: 16px;
    line-height: 150%;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    padding-left: 20px;
    text-align: left;
}

.noBorderBottom {
    border-bottom: none !important;
}

.textCenter {
    text-align: center;
}

.url,
a
{
    color: #505050;
    font-weight: normal;
    text-decoration: underline;
}

.templateBody img {
    display: inline;
    height: auto;
    max-width: 560px;
}

/** Botones **/

.templateButton {
    padding: 20px;
    color: #ffffff;
    background-color:#1181C3;
    border:1px solid #505050;
    text-decoration: none;
    display:inline-block;
    margin-bottom:30px;
}

/* ========== Footer Styles ========== */
.footerContent {
    color: #808080;
    font-size: 10px;
    line-height: 150%;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    text-align: center;
}

.footerContent .support {
    font-size: 14px;
}

.footerContent .address p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.footerContent a,
    /* Yahoo! Mail Override */
.footerContent a .yshortcuts,
.footerContent a span
    /* Yahoo! Mail Override */
{
    color: #606060;
    font-weight: normal;
    text-decoration: underline;
}

/* ================================= TABLE Styles ============================ */
/**
        * Aquí comienza los estilos para la tabla
        */
.templateDataTable {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
}
/**
        * @tab Body
        * @section data table heading text
        * @tip Set the styling for your email's data table text. Choose a size and color that is easy to read.
        */
.dataTableHeading {
    background-color: #D8E2EA;
    color: #0B6BAC;
    font-family: helvetica, sans-serif;
    font-size: 14px;
    /* TITULO DE LA TABLA */
    font-weight: bold;
    line-height: 150%;
    text-align: left;
}
/**
        * @tab Body
        * @section data table heading link
        * @tip Set the styling for your email's data table links. Choose a color that helps them stand out from your text.
        */
.dataTableHeading a,
    /* Yahoo! Mail Override */
.dataTableHeading a .yshortcuts
    /* Yahoo! Mail Override */
{
    color: #B6C8CF;
    font-weight: bold;
    text-decoration: underline;
}
/**
        * @tab Body
        * @section data table text
        * @tip Set the styling for your email's data table text. Choose a size and color that is easy to read.
        */
.dataTableContent {
    border-top: 1px solid #DDDDDD;
    border-bottom: 0;
    color: #202020;
    font-family: helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 150%;
    text-align: left;
}
.dataTableContentBoton {

    border: 3px solid #DDDDDD;
    color: #202020;
    font-family: helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}
/**
        * @tab Body
        * @section data table link
        * @tip Set the styling for your email's data table links. Choose a color that helps them stand out from your text.
        */
.dataTableContent a,
    /* Yahoo! Mail Override */
.dataTableContent a .yshortcuts
    /* Yahoo! Mail Override */
{
    color: #202020;
    font-weight: bold;
    text-decoration: underline;
}

/* /\/\/\/\/\/\/\/\/ MOBILE STYLES /\/\/\/\/\/\/\/\/ */
@media only screen and (max-width: 480px) {
    /* /\/\/\/\/\/\/ CLIENT-SPECIFIC MOBILE STYLES /\/\/\/\/\/\/ */
    body,
    table,
    td,
    p,
    a,
    li,
    blockquote {
        -webkit-text-size-adjust: none !important;
    }
    /* Prevent Webkit platforms from changing default text sizes */
    body {
        width: 100% !important;
        min-width: 100% !important;
    }
    /* Prevent iOS Mail from adding padding to the body */
    /* /\/\/\/\/\/\/ MOBILE RESET STYLES /\/\/\/\/\/\/ */
    #bodyCell {
        padding: 10px !important;
    }
    /* /\/\/\/\/\/\/ MOBILE TEMPLATE STYLES /\/\/\/\/\/\/ */
    /* ======== Page Styles ======== */

    .templateContainer {
        max-width: 600px !important;
        width: 100% !important;
    }
    .

    h1 {
        font-size: 24px !important;
        line-height: 100% !important;
    }
    /**
          * @tab Mobile Styles
          * @section heading 2
          * @tip Make the second-level headings larger in size for better readability on small screens.
          */
    h2 {
        font-size: 20px !important;
        line-height: 100% !important;
    }

    h3 {
        font-size: 18px !important;
        line-height: 100% !important;
    }

    h4 {
        font-size: 16px !important;
        line-height: 100% !important;
    }
    /* ======== Header Styles ======== */
    #headerImage {
        height: auto !important;
        max-width: 600px !important;
        width: 100% !important;
    }
    /**
          * @tab Mobile Styles
          * @section header text
          * @tip Make the header content text larger in size for better readability on small screens. We recommend a font size of at least 16px.
          */
    .headerContent {
        font-size: 20px !important;
        line-height: 125% !important;
    }

    /* ======== Footer Styles ======== */
    .footerContent {
        font-size: 14px !important;
        line-height: 115% !important;
    }

    .footerContent a {
        display: block !important;
    }

    .footerContent a:link {
        color: #FFFFFF;
        font-weight: normal;
        text-decoration: underline;
    }

    .tableButton a {
        font-family: helvetica, sans-serif;
        font-size: 16px;
        color: #ffffff;
        text-decoration: none;
    }
}
