<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Dinbog</title>
  <link th:href="@{assets/css/email_base.css}" rel="stylesheet" />
</head>

<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
  <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
    <tr>
      <td align="center" valign="top" id="bodyCell">
        <!-- BEGIN TEMPLATE // -->
        <table border="0" cellpadding="0" cellspacing="0" class="templateContainer">
          <tr>
            <td id="templateHeader">
              <img th:src="@{https://dinbog-site.s3.amazonaws.com/img/banner_email.png}">
            </td>
          </tr>
          <tr th:replace="@{'fragments/' + ${template}} :: ${template}">

          </tr>
        </table>
        <table border="0" cellpadding="0" cellspacing="0" class="templateContainer">
          <tr>
            <td align="center" valign="top" class="footerContent">
              <p class="support" th:text="${'Hey! Any doubts? Send us an email: '}">
                <a th:href="@{'mailto:noreply@dinbog.com'}" th:text="${'hello@dinbog.com'}"></a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
